.customerorderinfo{
    width:95%;
    margin:20px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:20px 10px;
    border-radius: 15px;
    min-height: 500px;
}
.ordercontainer{
    margin:20px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom:10px;
    border-bottom: 1px solid #5a5a5a;
}