.form-container{
    width:95%;
    margin:20px auto;
    min-height: 400px;
    padding:20px;
    background-color: #ffffff3f;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.form-container>h2{
    text-align: center;
    margin-top:30px;
}
#changepass{
     width: 60%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;   
     margin: auto;
}
#changepass>div{
    width:330px;
    display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
     min-height:80px;
}
.passContainer{
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
     gap:5px;
     width: 330px;
     margin:auto;
}
.passCondition{
    color:#ea0909;
}
.otpsuccesstext{
    text-align: center;
    color:#02890f;
}
.passContainer>input{
    width:320px;
    height:35px;
    border:1px solid #0000003f;
    border-radius: 5px;
    outline: none;
    padding:0px 10px;
}
.submitBTN{
    width:150px;
    height:35px;
    background-color: #fff;
    outline: none;
    border:1px solid #000;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}
.submitBTN:hover{
        background-color: #000;
        color:#fff;
}

@media (max-width:770px) {
    #changepass{
        width:95%;
    }
    
}